@font-face {
    font-family: "Walkway Black";
    src: url(../fonts/Walkway\ Black.ttf);
}

body {
    background-image: url(../img/bg-newyork.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Walkway Black', sans-serif;
    font-size: 16px;
    color: #fff;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}
h2 {
    font-size: 36px;
    font-weight: 400;
}
h3 {
    font-size: 28px;
    font-weight: 400;
}
h4 {
    font-size: 24px;
    font-weight: 400;
}
h5 {
    font-size: 20px;
    font-weight: 500;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}


a {
    color: #fff;
    text-decoration: underline;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: #010101;
    opacity: .65;
    margin: 0;
    line-height: 100px;
    vertical-align: middle;
    text-align: right;
}

.nav a {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 0 20px;
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 2px solid #ffd906;
    opacity: .85;
}

.ninja-logo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0px;
}

.logo-start {
    margin: 200px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #c2beba;
    opacity: .75;
}

.logo-start img {
    position: relative;
    top: 15%;
    left: 5%;
    width: 260px;
    height: 260px;
}

.main {
    width: 80%;
    height: auto;
    padding: 40px;
    margin: 0 auto;
    text-align: left;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #010101;
    opacity: .85;
    margin: 0;
    line-height: 300px;
    vertical-align: middle;
    text-align: center;
}

.form-wrapper {
    width: 300px;
    height: auto;
    margin: 100px auto;
    padding: 60px 20px;
    text-align: center;
    background-color: #010101;
    opacity: .85;
}

.input-field {
    width: 240px;
    height: 40px;
    margin: 20px 0;
    padding: 0 10px;
    border: 0;
    border-radius: 0;
    background-color: #fffefa;
    opacity: .85;
    line-height: 40px;
    vertical-align: middle;
    color: #010101;
}

.button-submit {
    width: 240px;
    height: 40px;
    margin: 20px 0;
    border: 0;
    border-radius: 0;
    background-color: #ffd906;
    opacity: .85;
    line-height: 40px;
    vertical-align: middle;
    color: #010101;
    text-transform: uppercase;
    font-weight: 600;
}

    .button-submit:hover {
        background-color: #fff;
        opacity: .9;
        color: #010101;
    }

.button {
    text-align: center;
    color: #010101;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

    .button:hover {
        background-color: #fff;
        opacity: .9;
        color: #010101;
    }

    a.button {
        text-decoration: none;
    }

.terms, #terms {
    font-size: 12px;
}
